<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"><link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">        
        {% load static %}
        <link rel="stylesheet" type="text/css"href="{% static 'styles/main.css' %}"/>
        <link rel="stylesheet" type="text/css"href="{% static 'styles/index.css' %}" />
        <title>Finplans</title>
    </head>
    <body>
        <div class="navbar" id="top-navbar">
            <div class="nav-icon" onclick="myFunction()">
                <div class="menu-icon"></div>
            </div>
            <a class="logo" href="#">FINPLANS</a>
            <div class="navbar-left">
                <a class="nav-item" href="#que-es-finplans">¿Qué es Finplans?</a>
                <a class="nav-item" href="#asi-de-facil">Así de fácil</a>
                <a class="nav-item" href="#nosotros">Nosotros</a>
            </div>
            <div class="navbar-right">
                <button href="#solicita-tu-invitacion">Unirse</button>
            </div>
        </div>
        <div id="content">
            <div id="inicio">
                <div class="col-1">
                    <h2>Te ayudamos a hacer tus objetivos financieros realidad</h1>
                    <h4>Nos preocupamos de tu ahorro y te acompañamos en el camino</h4>
                    <button id="unirse" href="#solicita-tu-invitacion">Unirse</button>
                </div>
                <img src="{% static 'imgs/first-img.png' %}"/>
            </div>
            <div id="que-es-finplans" class="flex-col">
                <h2>¿Qué es Finplans?</h2>
                <h3 class="opacity08">Finplans es una aplicación que entrega un servicio financiero
                     que ayudará a las personas a ahorrar y visualizar sus finanzas personales, 
                     donde tú podrás cumplir tus objetivos financieros ahorrando automáticamente
                      y serás acompañado en el proceso.</h3>
                <div class="row-1">
                    <div class="col-2">
                        <img src="{% static 'imgs/attr1.png' %}"/>
                        <h3 class="bold">Finanzas Personales</h3>
                        <p class="opacity08">Podrás visualizar tus ingresos y costos en distintas categorías</p>
                    </div>
                    <div class="col-2">
                        <img src="{% static 'imgs/attr2.png' %}"/>
                        <h3 class="bold">Planes de ahorro</h3>
                        <p class="opacity08">Personal trainer financiero que incentiva a que ahorres y te
                            acompañamos en este proceso de ahorro con distintos tipos de
                            incentivos</p>
                    </div>
                    <div class="col-2">
                        <img src="{% static 'imgs/attr3.png' %}"/>
                        <h3 class="bold">Couch Financiero</h3>
                        <p class="opacity08">Te creamos planes de ahorro con respecto a tu comportamiento financiero</p>
                    </div>
                </div>
            </div>
            <div id="asi-de-facil" class="flex-col">
                <h2>Así de fácil</h2>
                <div class="row-2">
                    <p class="right-align">Ingresa tus datos financieros</p>
                    <div class="number-circle"><p>1</p></div>
                    <img src="{% static 'imgs/asi-facil-ingresa.png' %}"/>
                </div>
                <div class="row-2">
                    <img src="{% static 'imgs/asi-facil-ahorro.png' %}"/>
                    <div class="number-circle"><p>2</p></div>
                    <p class="left-align">Te entregamos plan de ahorro</p>
                </div>
                <div class="row-2">
                    <p class="right-align">Establece una meta de ahorro y un plazo asociado</p>
                    <div class="number-circle"><p>3</p></div>
                    <img src="{% static 'imgs/asi-facil-meta.png' %}"/>
                </div>
                <div class="row-2">
                    <img src="{% static 'imgs/asi-facil-acompanar.png' %}"/>
                    <div class="number-circle"><p>4</p></div>
                    <p class="left-align">Te acompañamos en el proceso</p>
                </div>
            </div>
            <div id="testimonios" class="flex-col">
                <h2>Testimonios</h2>
                <div id="carousel">
                    <a id="btn-left" href="#"></a>
                    <div>
                        <h1 class="quote">“</h1>
                        <p id="testimonio">Siempre me ha costado el tema de las finanzas. Hoy
                        gracias a la ayuda de Finplans puedo administrar bien mi dinero, ya que me
                        han entregado las herramientas para hacerlo de forma personalizada.</p>
                        <p id="author" class="bold">Patricio Donaire</p>
                    </div>
                    <a id="btn-right" href="#"></a>
                </div>     
            </div>
            <div id="solicita-tu-invitacion" class="flex-row">
                <div class="flex-col col-3">
                    <h2>Solicita tu invitación</h2>
                    <h3 class="opacity08">Déjanos tu mail y serás el primero en enterarte del lanzamiento de Finplans</h3>
                </div>
                <form action="#" class="flex-col form">
                    <h3>Quiero recibir información</h3>
                    <div class="flex-row">
                        <input type="text" id="name" placeholder="Nombre">
                        <input type="text" id="lastname" placeholder="Apellido">
                    </div>
                    <input type="text" id="email" placeholder="Correo">
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <div id="nosotros" class="flex-col">
                <h2>Nosotros</h2>
                <div class="col-4">
                    <h4 class="opacity08">Finplans nace a comienzos de la pandemia del Covid-19 con 
                        el propósito de poder ayudar a las personas a ahorrar para que cumplan sus 
                        objetivos financieros.
                    </h4>
                    <h4 class="opacity08">El equipo lo conforma Cristóbal Picón y Matías Lobos,
                        estudiantes de 5to año de Ingeniería Civil Industrial de la universidad Adolfo Ibañez.
                    </h4>
                    <div class="flex-row" id="nosotros-perfil">
                        <div class="flex-col">
                            <img src="{% static 'imgs/cristobal.png' %}">
                            <p class="bold">Cristóbal Picón</p>
                        </div>
                        <div class="flex-col">
                            <img src="{% static 'imgs/matias.png' %}">
                            <p class="bold">Matías Lobos</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer-row">
                    <a class="nav-item" href="#que-es-finplans">¿Qué es Finplans?</a>
                    <a class="nav-item" href="#asi-de-facil">Así de fácil</a>
                    <a class="logo" href="#">FINPLANS</a>
                    <a class="nav-item" href="#solicita-tu-invitacion">Solicita tu invitación</a>
                    <a class="nav-item" href="#nosotros">Nosotros</a>
                </div>
                <hr>
                <div class="contacto flex-col">
                    <p class="opacity08">contacto.finplans@gmail.com</p>
                    <div class="flex-row social">
                        <img src="{% static 'imgs/facebook.png' %}">
                        <img src="{% static 'imgs/linkedin.png' %}">
                        <img src="{% static 'imgs/instagram.png' %}">
                    </div>
                    <p class="opacity08">© Finplans, Inc. 2020.</p>
                    <a href="https://stories.freepik.com/data">Illustration by Freepik Stories</a>
                </div>
            </footer>
        </div>
    </body>
</html>
<script>
    function myFunction() {
  var x = document.getElementById("top-navbar");
  if (x.className === "navbar") {
    x.className = "responsive-nav";
  } else {
    x.className = "navbar";
  }
}
</script>
