/* Divisiones principales */
#content {
  font-weight: lighter;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 0 2vw 0 2vw;
  margin-top: 10vh;
}
#inicio {
  display: flex;
  flex-flow: row;
  margin: 0 0vw 0 2vw;
  justify-content: space-between;
  align-items: center;
}
#inicio img {
  width: 50vw;
  margin-left: -10vw;
  margin-right: -3vw;
}
#unirse {
  margin-top: 2rem;
}
#que-es-finplans {
  padding: 2vh 5vw 0 5vw;
}
#asi-de-facil {
  margin-top: 10vh;
  padding: 5vh 5vw 0 5vw;
  justify-content: center;
  align-content: center;
}
#testimonios {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10vh;
}
#carousel {
  display: flex;
  align-items: center;
  flex-flow: row;
  margin-top: 2vh;
  width: 60vw;
  text-align: left;
  justify-content: space-between;
}
#testimonio {
  font-style: italic;
  line-height: 2.5rem;
}
#author {
  font-style: normal;
  font-weight: 600;
}
#btn-left {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid #006cff;
  margin-right: 10vw;
}
#btn-right {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #006cff;
  margin-left: 10vw;
}
#solicita-tu-invitacion {
  padding-top: 15vh;
  margin-top: 10vh;
  align-items: center;
  justify-content: space-evenly;
}
#name,
#lastname {
  width: 14vw;
}
#nosotros {
  margin-top: 10vh;
  padding-top: 5vh;
  align-items: center;
}
.form-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.form-container h4 {
  text-align: center;
  width: auto;
}
#register form.flex-col.form .flex-row input[type="text"] {
  max-width: 38%;
}
.form-container form.flex-col.form button {
  margin-top: 1vh;
  width: 100%;
  padding: 2vh;
}

/* Filas y columnas específicas */
.flex-col {
  display: flex;
  flex-flow: column;
  text-align: center;
}
.flex-row {
  display: flex;
  flex-flow: row;
  text-align: center;
}
.col-1,
.col-2 {
  display: flex;
  flex-flow: column;
  width: fit-content;
}

.col-1 {
  padding: 1rem 3rem;
  margin: 0 1.3rem;
}

.col-2 {
  align-items: center;
  width: 20vw;
}
.col-2 img {
  width: 10vw;
}
.col-3 {
  width: 40vw;
  height: 50vh;
  justify-content: space-evenly;
}
.col-4 {
  flex-flow: column;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 4vh;
  width: 60vw;
}
.col-4 h4 {
  margin: 0;
  line-height: 2rem;
}
.col-4 img {
  height: 20vw;
  border-radius: 50%;
}
.col-4 .flex-row {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
}
.row-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 10vh;
}
.row-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
.row-2 p {
  width: 12vw;
  padding-right: 3vw;
  padding-left: 3vw;
}
.row-2 img {
  max-width: 16vw;
  margin: 5vw;
}
#planes {
  margin: 0 auto;
}

#planes img {
  max-width: 100%;
  height: auto;
}

.dark-btn {
  background: lightgray;
  color: darkslateblue;
}

/* Utilidades */

.opacity08 {
  opacity: 0.8;
}
.bold {
  font-weight: 700;
}
.number-circle {
  display: flex;
  background-color: #006cff;
  color: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.quote {
  color: #006cff;
  line-height: 1rem;
  margin-bottom: -1vh;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}

/* Form */
.form {
  width: 35vw;
  height: 100%;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.5);
  text-align: left;
  padding: 5vh 5vw 5vh;
}
.form div {
  justify-content: space-between;
}
.form button {
  margin-top: 10vh;
}
.form input {
  font-family: Lato;
  font-size: 1.1rem;
  padding: 2vh;
}
.form .alert-danger {
  color:  #ff0037;
  text-align: center;
}
.form ul li {
  list-style-type: none;
}

/* Footer */
.footer-row {
  margin-top: 20vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-evenly;
}
.contacto,
.social {
  justify-content: space-evenly;
  align-items: center;
}
.social {
  width: 20vw;
}
.social img {
  width: 2.5vw;
}

fieldset.results-options li { 
  padding: 20px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px #ddd solid;  }

fieldset.results-options label {
  cursor: pointer;
  margin-left: 30px;
}

.buttons {
  padding: 1.25rem 0.8rem;
  display: flex;
  justify-content: space-between;
}

/* Breakpoint at 800px: */
@media screen and (max-width: 800px) {
  #inicio,
  #que-es-finplans,
  #asi-de-facil {
    flex-direction: column;
  }
  #inicio img {
    width: 75vw;
    margin: 0 auto;
  }
  .col-1 {
    text-align: center;
    padding: 1rem 0rem;
  }
  .col-1 h2 {
    font-size: 1.7rem;
  }
  .col-1 h4 {
    font-size: 1rem;
  }
  #unirse {
    margin: 1rem auto;
  }
  #que-es-finplans h2,
  #asi-de-facil h2,
  #testimonios h2,
  #nosotros h2,
  #planes h2,
  .col-3 h2 {
    font-size: 2rem;
  }
  .opacity08 {
    font-size: 1.25rem;
  }
  .row-1 {
    flex-flow: column nowrap;
    align-items: center;
  }
  .row-1 .col-2 {
    width: 50vh;
  }
  .row-1 .col-2 p {
    font-size: 1rem;
  }
  .col-2 img {
    width: 25vw;
  }
  #asi-de-facil,
  .row-2 {
    flex-flow: column nowrap;
    padding: 0;
  }
  .row-2 img {
    order: -1;
    max-width: 16vw;
    margin: 5vw;
  }
  .row-2 .number-circle {
    order: 0;
  }
  .row-2 .left-align,
  .row-2 .right-align {
    order: 1;
  }
  .row-2 p {
    width: auto;
    text-align: center;
  }
  .row-2 img {
    max-width: 40vw;
  }
  #testimonio {
    line-height: 2rem;
  }
  #carousel {
    width: 86vw;
  }
  #solicita-tu-invitacion {
    flex-flow: column nowrap;
    padding: 0;
  }
  .col-3 {
    width: 80vw;
    height: 30vh;
    justify-content: center;
  }
  #solicita-tu-invitacion a.button {
    margin: 0 auto;
  }
  .col-4 {
    width: 80vw;
  }
  #name,
  #lastname {
    width: 28vw;
    margin: 4vh 0vh;
  }
  .col-4 img {
    height: auto;
    max-width: 100%;
  }
  #nosotros-perfil,
  footer .footer-row {
    flex-flow: column nowrap;
    margin-top: 10vh;
  }
  footer .footer-row .logo {
    order: -1;
    text-align: center;
    margin: 0vh auto 3vh;
  }
  .contacto .social {
    width: 70vw;
    flex-flow: row;
  }
  .contacto .social img {
    width: 10vw;
  }
  .flex-row {
    flex-flow: column;
  }
  .form-container form {
    width: auto;
    margin: 0 auto;
  }
  .form-container form.flex-col.form .flex-row input[type="text"] {
    max-width: 100%;
    margin: 1.2vh 0;
  }
  #register form.flex-col.form .flex-row input[type="text"] {
    max-width: 100%;
  }
}
