/* Estilo General */
body {
  font-family: Lato;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
h1,
h2,
h3,
h4,
p {
  font-weight: normal;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 0;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}
hr {
  border-width: 1px;
  border-color: rgb(0, 0, 0, 0.3);
}
button {
  background-color: #006cff;
  color: white;
  border-radius: 6px;
  border-style: none;
  font-family: Montserrat;
  width: 130px;
  height: 40px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 4vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  align-items: center;
  position: fixed;
  top: 0;
  width: 90%;
  background-color: white;
  z-index: 1;
}

.navbar-left {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 3vw;
}
.navbar-right {
  margin-left: 2vw;
}

.logo {
  color: #132d7d;
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 5vh;
  line-height: 5vh;
  letter-spacing: -0.015em;
  text-decoration: none;
  margin-right: 1rem;
}

.nav-item {
  font-family: Montserrat;
  line-height: normal;
  line-height: 5vh;
  text-decoration: none;
  color: #8a897c;
}
.nav-item:hover {
  color: #5c5b50;
}

.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon .menu-icon {
  background-color: #000000;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.nav-icon {
  display: none;
}

/* Breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .nav-icon {
    display: inline-block;
  }
  .navbar .navbar-left,
  .navbar .navbar-right,
  .responsive-nav .navbar-right {
    display: none;
  }
  .responsive-nav {
    background-color: #132d7d10;
  }
  .responsive-nav .nav-icon:before {
    transform: translateY(12px) rotate(135deg);
  }
  .responsive-nav .nav-icon:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .responsive-nav .menu-icon {
    transform: scale(0);
  }
  .responsive-nav .navbar-left,
  .responsive-nav .logo {
    display: flex;
    flex-direction: column;
  }
  .responsive-nav a.logo {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline;
  }
  .responsive-nav .navbar-left a {
    margin: 1.2vh;
    width: 100%;
    color: #132d7d;
  }
}
